# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Project/MDK-ARM/STM32F401RE-Nucleo/startup_stm32f411xe.lst
*.lst
Project/MDK-ARM/STM32F401RE-Nucleo/startup_stm32f411xe.lst
Project/MDK-ARM/STM32F401RE-Nucleo/STM32F4xx-Nucleo
*.crf
*.crf
*.d
*.lst
*.dep
*.htm
*.map
*.crf
*.axf
.d
.lnp
.TMP
*.TMP
*.uvoptx
*.Administrator
